

<h1 class="titulo">MENSUALES DWH - MOVIL</h1>
<br>

<br>
<div class="container-fluid btns">
    <div class="dropdown bts">   
      <div><label > <b>  FILTROS: </b></label> </div>  
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    TODOS 
  </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item " href="/">GRUPO 1</a></li>
    <li><a class="dropdown-item" href="/">GRUPO 2</a></li>
    <li><a class="dropdown-item" href="/">GRUPO 3</a></li>
  </ul>

     <button type="button" class="btn btn-outline-primary ">Completados</button>
     
       <button type="button" class="btn btn-outline-primary 2">En Progreso</button>
    
      <button type="button" class="btn btn-outline-primary 3">Faltantes</button>
      
        <button type="button" class="btn btn-outline-primary cuatro">Grafica</button>

{{>form}}

</div>
</div>

<br>
    <div>
          <table class="table">
                <thead>
                    
                <tr>
                    <th > # </th>
                    <th> COD </th>
                    <th> LINEA </th>
                    <th> PROCESO </th>
                    <th> DIA </th>
                    <th> STATUS </th>   
                    <th>  </th>
                  
                </tr>
             
                </thead>
               
                 {{#each formulario}}
               
                 
                <tr CLASS="celdas">
                    <td></td>
                    <td>{{codigo}}</td>
                    <td>{{linea}}</td>
                    <td>{{proceso}}</td>
                    <td>{{dia}}</td>
                    <td >
                        <select name="Status">
                            <option value="No_Iniciado" selected>No Iniciado</option>                           
                            <option value="En_progreso">En Progreso</option>  
                            <option value="Completado">Completado</option>       
                         
                         </select>
                    </td>
                                    
                    <td>
                        <form action="/app/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name= "_method" value ="DELETE">
                        <button type="submit" class="fa fa-trash-o"></button>
                        </form>
                        
                      <a href="/app/edit/{{_id}}"><button id="btn_editar" class="fa fa-pencil" ></button></a>
                      
                    </td>
                                     
                    {{/each }}    
                </tr>
                <tbody id="tablita">

                </tbody>    
            </table>
    
    </div>
    <br>
    <br>
    
            <!-- Example single danger button -->

  
   <div class="footer">

    
      
</div>

   
   


   </div>

